<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Page</title>
</head>
<body>
<h1>User Information</h1>
<a href="/users/save" class="btn btn-danger">добавить нового пользователя</a>
<div>
    <table>
        <tr>
            <td><h2>id</h2></td>
            <td><h2>name</h2></td>
            <td><h2>lastname</h2></td>
            <td><h2>email</h2></td>
        </tr>
        <th:block th:each="user : ${allUsers}">
            <tr>
                <td><h3 th:text="${user.getId()}"></h3></td>
                <td><h3 th:text="${user.getName()}"></h3></td>
                <td><h3 th:text="${user.getLastName()}"></h3></td>
                <td><h3 th:text="${user.getEmail()}"></h3></td>
                <td><a th:href="${'/users/update/' + user.id}" class="btn btn-default">change</a></td>
                <td><a th:href="${'/users/delete/' + user.id}" class="btn btn-danger">delete</a></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>