<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить пользователя</title>
</head>
<body>
<h2>Изменить пользователя</h2>
<!--<div th:authorize="isAuthenticated()">
    <p><a class="btn btn-lg btn-danger" th:href="@{/logout}" role="button">Выйти</a></p>
</div>-->
<div>

    <form th:action="@{/admin/edit}" th:object="${user}" method="post">
        <input type="hidden" name="id" th:value="${user.getId()}">
        <fieldset>
            <legend>Данные пользователя</legend>
            <p>
                <label th:for="username">Логин</label>
                <input type="text" name="username" th:id="username" th:value="${user.getUsername()}"><br/>

                <label th:for="password">Пароль</label>
                <input type="text" name="password" th:id="password" th:value="${user.getPassword()}"><br/>

                <label th:for="email">Почтовый ящик</label>
                <input type="text" name="email" th:id="email" th:value="${user.getEmail()}"><br/>

                <label th:for="name">Имя</label>
                <input type="text" name="firstName" th:id="firstName" th:value="${user.getFirstName()}">

                <label th:for="lastName">Фамилия</label>
                <input type="text" name="lastName" th:id="lastName" th:value="${user.getLastName()}"><br/>

                <input type="checkbox"
                       name="roleAdmin"
                       th:checked="${role}"
                       th:value="'ROLE_ADMIN'"
                       th:text="'Администратор'">
            </p>

        </fieldset>
        <button type="submit">Изменить данные</button>
    </form>


    <br/>
    <form th:action="@{/}">
        <button type="submit" class="btn btn-outline-danger">На главную</button>
    </form>
    <form th:action="@{/admin/all}">
        <button type="submit" class="btn btn-outline-danger">Назад к списку пользователей</button>
    </form>
</div>
</body>
</html>