<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <form th:action="@{/login}">
        <button type="submit">Войти</button>
    </form>
    <form th:action="@{/admin/all}">
        <button type="submit">Админка</button>
    </form>
    <form th:action="@{/user}">
        <button type="submit">ЛК</button>
    </form>
    <form th:action="@{/user/lk}">
        <button type="submit">ЛК2</button>
    </form>
</div>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
</div>
</body>
</html>