<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Найденный пользователь</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Почтовый ящик</th>

        </tr>
        <tr>
            <td th:text="${user.getId()}">Id</td>
            <td th:text="${user.getName()}">Имя</td>
            <td th:text="${user.getLastName()}">Фамилия</td>
            <td th:text="${user.getEmail()}">Почтовый ящик</td>
            <td>
                <form th:action="@{/edit/{id}(id=${user.id})}" th:object="${user}">
                    <button type="submit">Изменить</button>
                </form>
            </td>
            <td>
                <form th:action="@{/delete(id=${user.id})}" th:object="${user}">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <button type="submit">Удалить</button>
                </form>
            </td>

        </tr>
    </table>
    <br/>
    <form th:action="@{/}">
        <button type="submit">Назад к списку пользователей</button>
    </form>
</div>
</body>
</html>